{% extends '__layout.twig' %}

{% import '__macros/html.twig' as html %}
{% import '__macros/form.twig' as form %}

{% block content %}

{{ html.breadcrumbs([
	{link: '#', label: 'Configuration'},
	{link: '/departments', label: 'Departments'},
	{link: '/departments/view/'~department.id, label: department.name},
	{link: '/departments/delete/'~department.id, label: 'Delete'}
]) }}

{{ html.pageHeader('Delete department', [
	{link: '/departments/view/'~department.id, class: 'btn-outline-secondary', label: 'Back to view'}
]) }}

{{ html.definitions([
	{label: 'Name', value: department.name},
	{label: 'Description', value: department.description}
]) }}

<p class="fw-bold border-bottom mt-3">Are you sure you want to delete this department? All data associated with this departments will also be deleted!</p>

<form method="post" actions="/departments/delete">
	{{ form.hidden('id', department.id) }}
	{{ form.confirm() }}
</form>

{% endblock %}
