{% extends 'departments/view.twig' %}

{% import '__macros/html.twig' as html %}
{% import '__macros/form.twig' as form %}

{% block subcontent %}

{{ html.subpageHeader('Delete status', [
	{link: '/departments/view/'~department.id~'/statuses', class: 'btn-outline-secondary', label: 'Back to list'}
]) }}

{{ html.definitions([
	{label: 'Name', value: status.name},
	{label: 'Description', value: status.description}
]) }}

<p class="fw-bold border-bottom mt-3">Are you sure you want to delete this status? All data associated with this status will also be deleted!</p>

<form method="post" action="/statuses/delete">
	{{ form.hidden('id', status.id) }}
	{{ form.hidden('department_id', department.id) }}
	{{ form.confirm() }}
</form>

<script>
	document.querySelector('a#statuses-tab').classList.add('active');
</script>

{% endblock %}
