{% extends parent~'s/view.twig' %}

{% import '__macros/html.twig' as html %}
{% import '__macros/form.twig' as form %}

{% set parentId = attribute(attribute(_context, parent), 'id') %}

{% block subcontent %}

{{ html.subpageHeader('Delete assignment', [
	{link: '/'~parent~'s/view/'~parentId~'/assignments', class: 'btn-outline-secondary', label: 'Back to list'}
]) }}

{{ html.definitions([
	{label: 'Employee', value: assignment.employee_name~' <'~assignment.employee_email~'>'},
	{label: 'Department', value: assignment.department_name},
	{label: 'Start date', value: assignment.start_date|date('l, d F Y')},
	{label: 'End date', value: assignment.end_date ? assignment.end_date|date('l, d F Y') : 'Undefined'},
	{label: 'Description', value: assignment.description}
]) }}

<p class="fw-bold border-bottom mt-3">Are you sure you want to delete this assignment? All data associated with this assignment will also be deleted!</p>

<form method="post" action="/assignments/delete">
	{{ form.csrf(csrf.key, csrf.value) }}
	{{ form.hidden('id', assignment.id) }}
	{{ form.hidden('parent', parent) }}
	{{ form.hidden(parent~'_id', parentId) }}
	{{ form.confirm() }}
</form>

<script>
	document.querySelector('a#assignments-tab').classList.add('active');
</script>

{% endblock %}
