{% macro hidden(name, value) %}
	{% if value %}
		<input type="hidden" name="{{ name }}" value="{{ value }}">
	{% endif %}
{% endmacro %}

{% macro input(name, label, value, type = 'text') %}
	<div class="row mb-3">
		<label for="f-{{ name }}" class="col-2 col-form-label">{{ label }}</label>
		<div class="col-10">
			<input type="{{ type }}" name="{{ name }}" id="f-{{ name }}" value="{{ value ?? '' }}" class="form-control form-control-sm"">
		</div>
	</div>
{% endmacro %}

{% macro textarea(name, label, value, rows = 3) %}
	<div class="row mb-3">
		<label for="f-{{ name }}" class="col-2 col-form-label">{{ label }}</label>
		<div class="col-10">
			<textarea name="{{ name }}" id="f-{{ name }}" rows="{{ rows }}" class="form-control form-control-sm">{{ value ?? '' }}</textarea>
		</div>
	</div>
{% endmacro %}

{% macro submit(class='btn-primary', label = 'Save') %}
	<div class="row">
		<div class="col-2">
		</div>
		<div class="col-10">
			<button type="submit" class="btn {{ class }}">{{ label }}</button>
		</div>
	</div>
{% endmacro %}

{% macro confirm(class='btn-danger', label = 'Yes I\'m sure!') %}
	<button type="submit" class="btn {{ class }}">{{ label }}</button>
{% endmacro %}
